.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}


.image {
  margin: 50px;
  position: relative;
  display: inline-block;
}

.image img {
  width: 150px;
  height: 150px;
  transform: scale(1);
  vertical-align: middle;
  transition: .4s;
  object-fit: cover;
  border-radius: 5px;
}

.image img:hover{
  transform: scale(1.1);
}

.image span {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222831;
  color: #eeeeee;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.container{
  padding: 25px 10%;
  text-align: center;
}

.container #seach-input{
  width: 600px;
  border: 3px solid #000;
  padding: 12px 15px;
  font-size: 20px;
}

/* Animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 1s ease-in-out;
}

/* Page styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f1f1;
  color: #333333;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px #eeeeee;
}

#image-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .container #search-input{
    width: 100%;
  }
}


@media screen and (max-width: 450px) {
  .image-container image{
    width: 100%;
  }

  .container #search-input{
    width: 100%;
  }
}


